<a href="https://colab.research.google.com/github/hyuna0926/cp2_phase2/blob/main/Fashion_Campus_EDA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [8]:
click_stream_df = pd.read_csv('/content/drive/MyDrive/CP2_Phase2/click_stream_new.csv')
click_stream_df

,session_id,event_name,event_time,event_id,traffic_source,product_id,quantity,item_price,payment_status,search_keywords,promo_code,promo_amount
0,fb0abf9e-fd1a-44dd-b5c0-2834d5a4b81c,HOMEPAGE,2019-09-06T15:54:32.821085Z,9c4388c4-c95b-4678-b5ca-e9cbc0734109,MOBILE,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,fb0abf9e-fd1a-44dd-b5c0-2834d5a4b81c,SCROLL,2019-09-06T16:03:57.821085Z,4690e1f5-3f99-42d3-84a5-22c4c4d8500a,MOBILE,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,7d440441-e67a-4d36-b324-80ffd636d166,HOMEPAGE,2019-09-01T12:05:10.322763Z,88aeaeb5-ec98-4859-852c-8abb483faf31,MOBILE,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,7d440441-e67a-4d36-b324-80ffd636d166,ADD_TO_CART,2019-09-01T12:06:33.322763Z,934e306e-ecc6-472f-9ccb-12c8536910a2,MOBILE,15315.0,4.0,313529.0,NaN,NaN,NaN,NaN
4,7d440441-e67a-4d36-b324-80ffd636d166,BOOKING,2019-09-01T12:15:29.425431Z,9f4767a1-40fa-4c9c-9524-dfad18634d56,MOBILE,NaN,NaN,NaN,Success,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
12833597,ad1063b0-a6e5-40a9-aed6-d1b45741e571,SEARCH,2021-06-07T04:37:53.354381Z,4b3b91a5-9bda-44de-87dc-153367071dfc,MOBILE,NaN,NaN,NaN,NaN,Bekas,NaN,NaN
12833598,64585e37-3fe7-48d7-b79b-ebcb70230eb2,HOMEPAGE,2021-05-05T11:44:14.985835Z,ab0acc87-9578-408a-b47f-c46996b8b52f,MOBILE,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12833599,64585e37-3fe7-48d7-b79b-ebcb70230eb2,ADD_TO_CART,2021-05-05T11:53:10.985835Z,230d7b67-9934-42f9-9509-b330ac6ae777,MOBILE,19820.0,1.0,88918.0,NaN,NaN,NaN,NaN
12833600,64585e37-3fe7-48d7-b79b-ebcb70230eb2,BOOKING,2021-05-05T12:10:09.135142Z,8996ce49-c5dd-41ed-9231-28bfdb634cbe,MOBILE,NaN,NaN,NaN,Success,NaN,NaN,NaN
12833601,64585e37-3fe7-48d7-b79b-ebcb70230eb2,SEARCH,2021-05-05T11:53:12.985835Z,3c60d8bc-b3e1-41fa-a87b-f65a9053856a,MOBILE,NaN,NaN,NaN,NaN,Baju,NaN,NaN

In [15]:
product_df = pd.read_csv('/content/drive/MyDrive/CP2_Phase2/product.csv', on_bad_lines='skip')
product_df

,id,gender,masterCategory,subCategory,articleType,baseColour,season,year,usage,productDisplayName
0,15970,Men,Apparel,Topwear,Shirts,Navy Blue,Fall,2011.0,Casual,Turtle Check Men Navy Blue Shirt
1,39386,Men,Apparel,Bottomwear,Jeans,Blue,Summer,2012.0,Casual,Peter England Men Party Blue Jeans
2,59263,Women,Accessories,Watches,Watches,Silver,Winter,2016.0,Casual,Titan Women Silver Watch
3,21379,Men,Apparel,Bottomwear,Track Pants,Black,Fall,2011.0,Casual,Manchester United Men Solid Black Track Pants
4,53759,Men,Apparel,Topwear,Tshirts,Grey,Summer,2012.0,Casual,Puma Men Grey T-shirt
...,...,...,...,...,...,...,...,...,...,...
44419,17036,Men,Footwear,Shoes,Casual Shoes,White,Summer,2013.0,Casual,Gas Men Caddy Casual Shoe
44420,6461,Men,Footwear,Flip Flops,Flip Flops,Red,Summer,2011.0,Casual,Lotto Men's Soccer Track Flip Flop
44421,18842,Men,Apparel,Topwear,Tshirts,Blue,Fall,2011.0,Casual,Puma Men Graphic Stellar Blue Tshirt
44422,46694,Women,Personal Care,Fragrance,Perfume and Body Mist,Blue,Spring,2017.0,Casual,Rasasi Women Blue Lady Perfume
44423,51623,Women,Accessories,Watches,Watches,Pink,Winter,2016.0,Casual,Fossil Women Pink Dial Chronograph Watch ES3050

In [16]:
product_df.rename(columns={'id':'product_id'}, inplace=True)

In [22]:
merge_df = pd.merge(click_stream_df, product_df, how='outer', on='product_id')

In [23]:
merge_df

,session_id,event_name,event_time,event_id,traffic_source,product_id,quantity,item_price,payment_status,search_keywords,...,promo_amount,gender,masterCategory,subCategory,articleType,baseColour,season,year,usage,productDisplayName
0,fb0abf9e-fd1a-44dd-b5c0-2834d5a4b81c,HOMEPAGE,2019-09-06T15:54:32.821085Z,9c4388c4-c95b-4678-b5ca-e9cbc0734109,MOBILE,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,fb0abf9e-fd1a-44dd-b5c0-2834d5a4b81c,SCROLL,2019-09-06T16:03:57.821085Z,4690e1f5-3f99-42d3-84a5-22c4c4d8500a,MOBILE,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,7d440441-e67a-4d36-b324-80ffd636d166,HOMEPAGE,2019-09-01T12:05:10.322763Z,88aeaeb5-ec98-4859-852c-8abb483faf31,MOBILE,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,7d440441-e67a-4d36-b324-80ffd636d166,BOOKING,2019-09-01T12:15:29.425431Z,9f4767a1-40fa-4c9c-9524-dfad18634d56,MOBILE,NaN,NaN,NaN,Success,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,7d440441-e67a-4d36-b324-80ffd636d166,SEARCH,2019-09-01T12:07:00.322763Z,c952142b-4fe9-4694-ad7f-21a5d1bed9ca,MOBILE,NaN,NaN,NaN,NaN,Dress Kondangan,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12833597,68fbe481-7b74-45c2-ac75-9caac2c3f7c9,ADD_TO_CART,2019-08-30T12:52:52.491835Z,e4457a84-1a84-4449-928b-2a2fb9705280,MOBILE,4394.0,1.0,221647.0,NaN,NaN,...,NaN,Men,Apparel,Topwear,Tshirts,Grey,Summer,2011.0,Casual,Free Authority Men's Panda Cigar Grey T-shirt
12833598,c074246c-e8cc-43c1-b310-07f6328a19f2,ADD_TO_CART,2019-08-25T13:32:30.923025Z,9b2e9b94-5cfa-4d7e-a53c-5b9fa4f1d261,MOBILE,4394.0,1.0,324419.0,NaN,NaN,...,NaN,Men,Apparel,Topwear,Tshirts,Grey,Summer,2011.0,Casual,Free Authority Men's Panda Cigar Grey T-shirt
12833599,270b6ad3-e0e5-471e-8b17-b2334a59bb3f,ADD_TO_CART,2021-11-02T08:00:20.217937Z,ba9e06ef-8cc3-4353-ab64-faa1ee918e06,MOBILE,4394.0,1.0,435707.0,NaN,NaN,...,NaN,Men,Apparel,Topwear,Tshirts,Grey,Summer,2011.0,Casual,Free Authority Men's Panda Cigar Grey T-shirt
12833600,a4c9dd61-24db-472c-aeef-5b0f6ed6d8c1,ADD_TO_CART,2021-08-24T23:03:13.338638Z,b6e6235b-03b9-4dcd-be43-b372c9418d87,MOBILE,4394.0,1.0,107881.0,NaN,NaN,...,NaN,Men,Apparel,Topwear,Tshirts,Grey,Summer,2011.0,Casual,Free Authority Men's Panda Cigar Grey T-shirt
12833601,a1cf0854-7142-4c47-bda4-6b9c7c5c6d09,ADD_TO_CART,2018-06-17T14:16:57.595870Z,ceaeb88f-e070-49d2-a811-0ff8a828bd23,MOBILE,4394.0,1.0,117840.0,NaN,NaN,...,NaN,Men,Apparel,Topwear,Tshirts,Grey,Summer,2011.0,Casual,Free Authority Men's Panda Cigar Grey T-shirt

In [24]:
merge_df.isnull().sum()

session_id                   0
event_name                   0
event_time                   0
event_id                     0
traffic_source               0
product_id            10896445
quantity              10896445
item_price            10896445
payment_status        11981020
search_keywords       11660336
promo_code            12507067
promo_amount          12507067
gender                10897122
masterCategory        10897122
subCategory           10897122
articleType           10897122
baseColour            10897529
season                10898906
year                  10897150
usage                 10905993
productDisplayName    10897435
dtype: int64

In [26]:
merge_df.drop(columns=['promo_code','productDisplayName','event_id'], inplace=True)
merge_df

,session_id,event_name,event_time,traffic_source,product_id,quantity,item_price,payment_status,search_keywords,promo_amount,gender,masterCategory,subCategory,articleType,baseColour,season,year,usage
0,fb0abf9e-fd1a-44dd-b5c0-2834d5a4b81c,HOMEPAGE,2019-09-06T15:54:32.821085Z,MOBILE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,fb0abf9e-fd1a-44dd-b5c0-2834d5a4b81c,SCROLL,2019-09-06T16:03:57.821085Z,MOBILE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,7d440441-e67a-4d36-b324-80ffd636d166,HOMEPAGE,2019-09-01T12:05:10.322763Z,MOBILE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,7d440441-e67a-4d36-b324-80ffd636d166,BOOKING,2019-09-01T12:15:29.425431Z,MOBILE,NaN,NaN,NaN,Success,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,7d440441-e67a-4d36-b324-80ffd636d166,SEARCH,2019-09-01T12:07:00.322763Z,MOBILE,NaN,NaN,NaN,NaN,Dress Kondangan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12833597,68fbe481-7b74-45c2-ac75-9caac2c3f7c9,ADD_TO_CART,2019-08-30T12:52:52.491835Z,MOBILE,4394.0,1.0,221647.0,NaN,NaN,NaN,Men,Apparel,Topwear,Tshirts,Grey,Summer,2011.0,Casual
12833598,c074246c-e8cc-43c1-b310-07f6328a19f2,ADD_TO_CART,2019-08-25T13:32:30.923025Z,MOBILE,4394.0,1.0,324419.0,NaN,NaN,NaN,Men,Apparel,Topwear,Tshirts,Grey,Summer,2011.0,Casual
12833599,270b6ad3-e0e5-471e-8b17-b2334a59bb3f,ADD_TO_CART,2021-11-02T08:00:20.217937Z,MOBILE,4394.0,1.0,435707.0,NaN,NaN,NaN,Men,Apparel,Topwear,Tshirts,Grey,Summer,2011.0,Casual
12833600,a4c9dd61-24db-472c-aeef-5b0f6ed6d8c1,ADD_TO_CART,2021-08-24T23:03:13.338638Z,MOBILE,4394.0,1.0,107881.0,NaN,NaN,NaN,Men,Apparel,Topwear,Tshirts,Grey,Summer,2011.0,Casual
12833601,a1cf0854-7142-4c47-bda4-6b9c7c5c6d09,ADD_TO_CART,2018-06-17T14:16:57.595870Z,MOBILE,4394.0,1.0,117840.0,NaN,NaN,NaN,Men,Apparel,Topwear,Tshirts,Grey,Summer,2011.0,Casual